.cards-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 30%;
  height: 30%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}

.hide {
  opacity: 0;
}

body {
  background-color: #D3C5E5;
  /* font-family: 'Luckiest Guy', cursive; */
  /* font-size: 40px; */
}

main {
  height: 100vh;
}

.title {
  border: 1px solid #000;
  border-top: 0px;
  border-radius: 0px 0px 45px 45px;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #735DA5;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

  width: 100%;
  opacity: 0;
  text-align: center;
  font-size: 3rem;
}

path {
  fill: transparent;
}
